#########################################
###                DEBUG              ###
#########################################

#########################################
###                MCU                ###
#########################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_43001B000751333134383631-if00

#########################################
###        CONFIG INCLUDES            ###
#########################################

[include 0000_variables.cfg]
[include 0001_homing.cfg]


#########################################
###            FEATURES               ###
#########################################

[idle_timeout]
timeout: 1800

[respond]
default_type: echo

[display_status]

[pause_resume]

[exclude_object]

[force_move]
enable_force_move: true

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

#########################################
###            HW CONFIG              ###
#########################################

[printer]
kinematics: corexy
max_velocity: 50
max_accel: 1000

#Heaters and temp sensors
#PT1000 connected to TE1
[temperature_sensor HostTemp]
sensor_type: temperature_host

[extruder]
step_pin: PD5
dir_pin: !PD6
enable_pin: !PD4
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB3
sensor_type: PT1000
sensor_pin: PC1
control: pid
pid_Kp: 33.575
pid_Ki: 14.922
pid_Kd: 18.886
min_temp: 15
max_temp: 300

[tmc2209 extruder]
uart_pin: PA15
run_current: 0.1
stealthchop_threshold: 999999

[heater_bed]
heater_pin: PB4
sensor_pin: PC3
sensor_type: PT1000
control: pid
pid_kp: 51.772
pid_ki: 0.730
pid_kd: 918.310
min_temp: 15
max_temp: 120

#Fans
#Cooling fan
[fan]
pin: PB1


#10k thermistor on TE0
[thermistor Generic 3950 10k]
temperature1: 25
resistance1: 10000
beta: 3950

#Coldend fan on FAN0 with 3950 Sensor on TE0
[temperature_fan coldend]
pin: PB0
cycle_time: 0.010
sensor_type: Generic 3950 10k
sensor_pin: PC0
min_temp: 0
max_temp: 90
control: pid
pid_kp: 40
pid_ki: 1.1
pid_kd: 10
off_below: 0.1
kick_start_time: 0.200
target_temp: 70
min_speed: 0
gcode_id: CE

#Steppers
[stepper_y]
step_pin: PE11
dir_pin: !PE10
enable_pin: !PE9
microsteps: 16
rotation_distance: 40
endstop_pin: ^PB13  # PA2 for Y-max
position_endstop: 117.5
position_max: 117.5

[tmc5160 stepper_y]
spi_bus: spi4
cs_pin: PE7
diag1_pin: PB14
run_current: 0.100
stealthchop_threshold: 999999

[stepper_x]
step_pin: PD8
dir_pin: !PB12
enable_pin: !PD9
microsteps: 16
rotation_distance: 40
endstop_pin: ^PB14  # PA1 for X-max
position_endstop: 118.6
position_max: 118.6

[tmc5160 stepper_x]
spi_bus: spi4
cs_pin: PE15
diag1_pin: PB13
run_current: 0.100
stealthchop_threshold: 999999

[stepper_z]
step_pin: PD14
dir_pin: PD13
enable_pin: !PD15
microsteps: 16
rotation_distance: 8
endstop_pin: ^PA3  # PA3 for Z-max
position_endstop: 0
position_max: 250

[tmc2209 stepper_z]
uart_pin: PD12
run_current: 0.8
stealthchop_threshold: 999999

#LED
[neopixel toolhead_led]
pin: PA2
chain_count: 3

[delayed_gcode BLINK]
gcode:
    #main led white
    SET_LED LED=toolhead_led GREEN=1 RED=1 BLUE=1 INDEX=1 SYNC=0 TRANSMIT=0

    #left led red, right led blue
    SET_LED LED=toolhead_led GREEN=0 RED=1 BLUE=0 INDEX=2 SYNC=0 TRANSMIT=0
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=0 INDEX=3 SYNC=0 TRANSMIT=1
    G4 P100
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=0 INDEX=2 SYNC=0 TRANSMIT=0
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=1 INDEX=3 SYNC=0 TRANSMIT=1
    G4 P100
    SET_LED LED=toolhead_led GREEN=0 RED=1 BLUE=0 INDEX=2 SYNC=0 TRANSMIT=0
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=0 INDEX=3 SYNC=0 TRANSMIT=1
    G4 P100
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=0 INDEX=2 SYNC=0 TRANSMIT=0
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=1 INDEX=3 SYNC=0 TRANSMIT=1
    G4 P100
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=0 INDEX=3 SYNC=0 TRANSMIT=1

    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=0 INDEX=1 SYNC=0 TRANSMIT=1

        #left led red, right led blue
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=0 INDEX=2 SYNC=0 TRANSMIT=0
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=1 INDEX=3 SYNC=0 TRANSMIT=1
    G4 P100
    SET_LED LED=toolhead_led GREEN=0 RED=1 BLUE=0 INDEX=2 SYNC=0 TRANSMIT=0
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=0 INDEX=3 SYNC=0 TRANSMIT=1
    G4 P100
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=0 INDEX=2 SYNC=0 TRANSMIT=0
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=1 INDEX=3 SYNC=0 TRANSMIT=1
    G4 P100
    SET_LED LED=toolhead_led GREEN=0 RED=1 BLUE=0 INDEX=2 SYNC=0 TRANSMIT=0
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=0 INDEX=3 SYNC=0 TRANSMIT=1
    G4 P100
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=0 INDEX=2 SYNC=0 TRANSMIT=1
    G4 P100

    UPDATE_DELAYED_GCODE ID=BLINK DURATION=0.001