#########################################
###                DEBUG              ###
#########################################

#########################################
###                MCU                ###
#########################################
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_43001B000751333134383631-if00

#########################################
###        CONFIG INCLUDES            ###
#########################################

[include 0000_variables.cfg]
[include 0001_homing.cfg]
[include 0002_clicky.cfg]
[include 0003_service_macros.cfg]
[include 0004_printing_macros.cfg]
[include 0099_accel.cfg]


#########################################
###            FEATURES               ###
#########################################

[idle_timeout]
timeout: 1800

[respond]
default_type: echo

[display_status]

[pause_resume]

[exclude_object]

[force_move]
enable_force_move: true

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

#########################################
###            HW CONFIG              ###
#########################################

[printer]
kinematics: corexy

[bed_mesh]
algorithm: bicubic


[gcode_button z_max_endstop]
pin: ^PA0
press_gcode: M112

[probe]
pin: ^PA3


#Heaters and temp sensors
#PT1000 connected to TE1
[temperature_sensor HostTemp]
sensor_type: temperature_host

[extruder]
step_pin: PD5
dir_pin: !PD6
enable_pin: !PD4
microsteps: 16
rotation_distance: 22.111
full_steps_per_rotation: 200
gear_ratio: 50:10
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB3
sensor_type: PT1000
sensor_pin: PC1
control: pid
pid_Kp: 23.555
pid_Ki: 8.265
pid_Kd: 16.783
min_temp: 15
max_temp: 300
min_extrude_temp: 15
max_extrude_only_distance: 250
smooth_time: 1 
pwm_cycle_time: 0.01


[tmc2209 extruder]
uart_pin: PA15
run_current: 01
stealthchop_threshold: 0

[heater_bed]
heater_pin: PB4
sensor_pin: PC3
sensor_type: PT1000
control: pid
pwm_cycle_time: 0.3
pid_kp: 53.702
pid_ki: 0.856
pid_kd: 841.777
min_temp: 15
max_temp: 130

#Fans
#Cooling fan
[fan]
pin: PB1


#10k thermistor on TE0
[thermistor Generic 3950 10k]
temperature1: 25
resistance1: 10000
beta: 3950

#Coldend fan on FAN0 with 3950 Sensor on TE0
[temperature_fan coldend]
pin: PB0
cycle_time: 0.010
sensor_type: Generic 3950 10k
sensor_pin: PC0
min_temp: 0
max_temp: 90
control: pid
pid_kp: 40
pid_ki: 1.1
pid_kd: 10
off_below: 0.1
kick_start_time: 0.200
target_temp: 70
min_speed: 0
gcode_id: CE

#Steppers
[stepper_y]
step_pin: PE11
dir_pin: !PE10
enable_pin: !PE9
microsteps: 64
rotation_distance: 40
endstop_pin: ^PB13  # PA2 for Y-max

[tmc5160 stepper_y]
spi_bus: spi4
cs_pin: PE7
diag1_pin: PB14
sense_resistor: 0.022
interpolate: True
run_current: 2.5 #rated 2.5a
stealthchop_threshold: 999999


[stepper_x]
step_pin: PD8
dir_pin: !PB12
enable_pin: !PD9
microsteps: 64
rotation_distance: 40
endstop_pin: ^PB14  # PA1 for X-max

[tmc5160 stepper_x]
spi_bus: spi4
cs_pin: PE15
diag1_pin: PB13
sense_resistor: 0.022
interpolate: True
run_current: 2.5 #rated 2.5a
stealthchop_threshold: 999999

[stepper_z]
step_pin: PD14
dir_pin: !PD13
enable_pin: !PD15
microsteps: 256
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop

[tmc2209 stepper_z]
uart_pin: PD12
interpolate: False
run_current: 0.5 #rated 1a
stealthchop_threshold: 999999

#LED
[neopixel toolhead_led]
pin: PA2
chain_count: 3

[delayed_gcode BLINK]
gcode:
    #main led white
    SET_LED LED=toolhead_led GREEN=1 RED=1 BLUE=1 INDEX=1 SYNC=0 TRANSMIT=0

    #left led red, right led blue
    SET_LED LED=toolhead_led GREEN=0 RED=1 BLUE=0 INDEX=2 SYNC=0 TRANSMIT=0
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=0 INDEX=3 SYNC=0 TRANSMIT=1
    G4 P100
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=0 INDEX=2 SYNC=0 TRANSMIT=0
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=1 INDEX=3 SYNC=0 TRANSMIT=1
    G4 P100
    SET_LED LED=toolhead_led GREEN=0 RED=1 BLUE=0 INDEX=2 SYNC=0 TRANSMIT=0
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=0 INDEX=3 SYNC=0 TRANSMIT=1
    G4 P100
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=0 INDEX=2 SYNC=0 TRANSMIT=0
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=1 INDEX=3 SYNC=0 TRANSMIT=1
    G4 P100
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=0 INDEX=3 SYNC=0 TRANSMIT=1

    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=0 INDEX=1 SYNC=0 TRANSMIT=1

        #left led red, right led blue
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=0 INDEX=2 SYNC=0 TRANSMIT=0
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=1 INDEX=3 SYNC=0 TRANSMIT=1
    G4 P100
    SET_LED LED=toolhead_led GREEN=0 RED=1 BLUE=0 INDEX=2 SYNC=0 TRANSMIT=0
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=0 INDEX=3 SYNC=0 TRANSMIT=1
    G4 P100
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=0 INDEX=2 SYNC=0 TRANSMIT=0
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=1 INDEX=3 SYNC=0 TRANSMIT=1
    G4 P100
    SET_LED LED=toolhead_led GREEN=0 RED=1 BLUE=0 INDEX=2 SYNC=0 TRANSMIT=0
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=0 INDEX=3 SYNC=0 TRANSMIT=1
    G4 P100
    SET_LED LED=toolhead_led GREEN=0 RED=0 BLUE=0 INDEX=2 SYNC=0 TRANSMIT=1
    G4 P100

    UPDATE_DELAYED_GCODE ID=BLINK DURATION=0.001

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -4.955625, -4.988906, -4.999531, -4.989063, -4.956250, -4.940313, -4.933125, -4.976094, -4.995313
#*# 	  -4.961094, -4.974844, -4.985781, -4.988281, -4.983906, -4.937344, -4.953594, -4.983906, -5.001094
#*# 	  -4.950000, -4.937813, -4.962500, -4.972344, -4.976406, -4.970781, -4.953750, -4.992344, -4.991094
#*# 	  -4.940156, -4.957344, -4.957969, -4.977500, -4.973438, -4.963438, -4.956719, -4.985156, -5.009219
#*# 	  -4.934688, -4.956719, -4.959375, -4.972969, -4.962344, -4.964531, -4.975938, -4.978750, -4.987344
#*# 	  -4.961250, -4.967344, -4.951719, -4.942813, -4.959375, -4.970938, -4.983281, -4.958750, -4.958594
#*# 	  -4.938594, -4.944219, -4.923906, -4.934063, -4.964219, -4.977344, -4.962500, -4.922188, -4.872031
#*# 	  -4.962656, -4.925000, -4.927500, -4.937031, -4.958750, -4.952344, -4.923125, -4.866094, -4.865469
#*# 	  -4.983594, -4.971563, -4.957969, -4.958906, -4.965781, -4.953281, -4.958750, -4.955781, -4.934531
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 3.0
#*# max_x = 103.0
#*# min_y = 5.0
#*# max_y = 105.0
